@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: auto;
    overflow: overlay;
}


@layer components{

.sectionLine{
        @apply relative flex flex-col gap-4 mt-2  
        border-l-2 pl-2 border-darkBG/10 dark:border-lightBG/10;
}
.socialLink{
    @apply ml-4 cursor-pointer transition-transform items-center flex gap-1
    hover:text-orange-400 hover:translate-x-2;
}
.navLink{
    @apply hover:underline cursor-pointer underline-offset-4 hover:text-orange-400 transition-colors text-xs md:text-base;
}
.project_Item{
    @apply   rounded-b-md aspect-video w-full h-full  m-auto overflow-y-hidden relative
    
    bg-darkBG  bg-opacity-10 
    dark:bg-lightBG dark:bg-opacity-10;
}
.project_Item_section{
    @apply w-[90%] left-1/2 -translate-x-1/2 h-1/2 opacity-0 -translate-y-1/2 absolute bottom-2 flex flex-col backdrop-blur-md z-10
    rounded-t-md
    group-hover:-translate-y-0 group-hover:opacity-100 transition-[transform,opacity] duration-300
    bg-darkBG bg-opacity-50 text-lightBG
    ;
}
.addInput{
    @apply border-[1px] bg-transparent p-1 rounded-md dark:border-lightBG border-darkBG w-80 max-w-full;
}
.addSection{
    @apply flex md:items-center gap-2 md:justify-between flex-col md:flex-row;
}
  /* RTEdior styles */
 

  .RichEditor-default , .data > p{
    @apply  text-base leading-relaxed my-2;
}

  .RichEditor-blockquote, .data blockquote{
    @apply text-gray-600/80 dark:text-gray-400/80 bg-gray-400/20 dark:bg-gray-400/10 font-serif italic border-l-[3px] border-gray-400/80 px-1 py-3 pl-2 my-3;
  }
  .RichEditor-codeblock, .data pre{
    @apply p-2 text-sm bg-darkBG/90 dark:bg-lightBG/90 text-lightBG/80 dark:text-darkBG/80 font-mono overflow-x-auto;
  }
  .RichEditor-codeblock div{
    @apply whitespace-nowrap;
  }
  /* codeblocks rounded corners */

  /* first in each sequence */
  .RichEditor-codeblock:has( + .RichEditor-codeblock) , *:not(.RichEditor-codeblock) > .RichEditor-codeblock:first-of-type
  ,.data pre:has(+ pre), .data pre:first-of-type
  {
    @apply rounded-t-md;
  }
  /* last of each sequence */
  .RichEditor-codeblock:not(:has(+ .RichEditor-codeblock))
  , .data pre:not(:has(+ pre))
  {
    @apply rounded-b-md;
  }
  /* disable rounded in between  */
  .RichEditor-codeblock + .RichEditor-codeblock:has(+ .RichEditor-codeblock)
  , .data pre + pre:has(+ pre)
  {
    @apply rounded-none;
  }

  .data p{
    @apply min-h-[1.625rem];
  }

  .RichEditor-h1 , .data h1{
    @apply text-4xl font-bold my-2;
  }
  .RichEditor-h2 , .data h2{
    @apply text-3xl font-bold my-2;
  }
  .RichEditor-h3 , .data h3{
    @apply text-2xl font-bold my-2;
    
  }
  .RichEditor-h4 , .data h4{
    @apply text-xl font-bold my-2;
    
  } 
  .RichEditor-h5 , .data h5{
    @apply text-lg font-bold my-2;
  }
  .RichEditor-h6 , .data h6{
    @apply text-base font-bold my-2; 
  }

  .RichEditor-link{
    @apply underline
  }

  .data ol{
    @apply list-inside list-decimal;
  }
  .data ol li::before{
    content: counter(li);
    height: 100%;
    width: 1rem;
    opacity: 0;
  }

  .data ol  ol{
    @apply ml-7;
  }
  /* LISTS STYLES */
  .data ul > ul{
    list-style-type:circle;
    list-style-position: inside;
    margin-left: 1.75rem;
  }
  .data ul > ul > ul{
    list-style-type: square;
  }
  .data ol > ol{
    list-style-type:lower-alpha;
  }
  .data ol > ol > ol{
    list-style-type:lower-roman;
  }

  .data ul{
    @apply list-inside list-disc
  }
  .data a , .a_link{
    @apply underline  text-violet-500 cursor-pointer;
  }
  .data *:not(pre){ /* pre should be without space for background consistancy */
    @apply my-2;
  }
  .RTEImageContainer{
    @apply my-3;
  }
  .maxHeightSize{
    @apply max-h-[500px]
  }
  /* data image pos fix */
  .data img{
    @apply mx-auto;
  }
  /*  custom codeblock scroll bar styles */
  .RichEditor-codeblock::-webkit-scrollbar-thumb, .data pre::-webkit-scrollbar-thumb {
      @apply bg-violet-400/75 max-h-2  rounded-md hover:bg-violet-400;
    }
  .RichEditor-codeblock::-webkit-scrollbar, .data pre::-webkit-scrollbar {
    @apply w-4 max-h-3;
  }
.RichEditor-codeblock::-webkit-scrollbar-track, .data pre::-webkit-scrollbar-track {
  @apply bg-lightBG/20 dark:bg-darkBG/20 rounded-md
}
} 

@layer base{
    :root{
        --background: #F0E7DB;
        --foreground: #202023;
    }
    .dark{
        --background: #202023;
        --foreground: #F0E7DB;
    }
}